

.main-content{
  display: flex;
  margin: 0 auto;
}

.main-area{
  /* display */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  
  /* box model */
  width:60%;
}

.cart-area {
  width:40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart {
  border: 1px solid grey;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  /* box model */
  width: 80%;
}
