.step-condition{
  /* display */
  display:flex;
  justify-content: space-around;
  
  /* box model */
  width:475px;
}

.step-decoration::before{
  /* box model */
  width: 55px;
  height: 1px;
  margin: 0 10px;

  /* font & others */
  content:"";
  background-color: black;
}

.step{
  /* display */
  display:flex;
  align-items: center;
}

.step-circle {
  /* box model */
  width:24px;
  height:24px;
  justify-items: center;
  margin-right:5px;
  border: 1px solid black;
  border-radius: 50%;
  
  /* font & others */
  color: black;
  text-align: center;
}