.select-wrapper {
  position: relative;

  &::after {
    /* position */
    position: absolute;
    right: 1rem;
    top: 40%;
    transform: translateY(-50%);

    /* font & others */
    content: url("../../assets/icon/rectangle_Down.svg");
  }
}