.progress-control {
  /* display */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  /* box model */
  width:100%;
  height: 70px;
  border-top: 1px solid grey;
}

.return-step {
  /* font & others */
  text-decoration: none;
  color: black;
  line-height:3rem; 
  cursor: pointer;
}

.btn {
  /* box model */
  width: 174px;
  height: 3rem;
  border: none;
  border-radius: 8px;

  /* font & others */
  background-color: #F67599;
  color: white;
}